/* divide web page to two parts*/

.colom {
    float: left;
    height: 100%;
}

.left {
    width: 20%;
    background-color: #1A374D;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

.right {
    width: 80%;
    height: 100%;
    margin-left: 20%;
}


/* make button */

.btn {
    font-size: larger;
    background-color: #406882;
    width: 230px;
    height: 40px;
    cursor: pointer;
    border: none;
    color: white;
}

button:hover {
    background-color: white;
    color: #406882;
}

.centerbtn {
    text-align: center;
    width: 100%;
    height: 40px;
    padding-top: 50px;
}

.centerbtn1 {
    text-align: center;
    width: 100%;
    height: 40px;
}

.userDisplay {
    color: white;
    padding-top: 150px;
}